.error{
	color:red;
}

.main-container{

	width:90hw;
	height:auto;
	border:1px solid black;
}

.header{
	margin:5px;
	width:90hw;
	height:60px;
	border:1px solid black;
}

.logo{
	float:left;
	width:40px;
	height:40px;
}

.brand-name{
	margin-top:5px;
	margin-bottom:15px;
	font-size:20pt;
}

.content{
	width:90hw;
	height:70vh;
	margin:5px;
	border:1px solid white;
}

.content-left-panel{
	height:65vh;
	margin:5px;
	float:left;
	padding:5px;
	border:1px solid black;
}

.content-right-panel{
	height:65vh;
	margin-left:105px;
	margin-right:5px;
	padding:5px;
	border:1px solid black;
	margin-top:5px;
	
}

.footer{
	width:90hw;
	height:auto;
	margin:5px;
	text-align:center;
	border:1px solid white;
}


.content-right-panel-table{
	overflow:scroll;
	height:65vh;
}	


.username
{
	float:right;
	margin-right:10px;
		
}